{% extends  'base.html' %}
{% block title %}Nachhilfeverwaltung | Nachrichten{% endblock %}
    {% block content %}
<div class="mb-auto">
    <main class="flex justify-center">
        <div class="w-full max-w-3xl" id="wrapper">
            <div class="mb-6">
                {% if messages %}
                <div class="bg-green-200 text-green-600 flex justify-between p-2 rounded-xl transition-all" id="message">
                    {% for message in messages %}
                        {{ message }}
                        <button onClick="closeMessage()" id="toggleMessage" class="transition-all duration-500 ease-in-out">✕</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div id="accordion-collapse" data-accordion="collapse">
                {% csrf_token %}
                {% for chat, values in chats.items %}
                    <h2 id="accordion-collapse-heading-{{ values.user }}" class="w-full dark:text-gray-50">
                        {% if par_user == values.user %}
                        <button type="button" class="flex items-center mt-1 justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 rounded-xl dark:border-gray-200 dark:text-gray-400 hover:bg-indigo-600 hover:text-white transition-all duration-300ms ease-in-out" data-accordion-target="#accordion-collapse-body-{{ values.user }}" aria-expanded="true" aria-controls="accordion-collapse-body-{{ values.user }}">
                            <span class="flex-grow">{{ values.user }}</span>
                            {% if values.count %}
                            <div class="rounded-3xl bg-green-600 text-white flex-none p-1 px-3 text-lg text-end">{{ values.count }}</div>
                            {% endif %}
                            <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </button>
                        {% else %}
                        <button type="button" class="flex items-center mt-1 justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 rounded-xl dark:border-gray-200 dark:text-gray-400 hover:bg-indigo-600 hover:text-white transition-all duration-300ms ease-in-out" data-accordion-target="#accordion-collapse-body-{{ values.user }}" aria-expanded="false" aria-controls="accordion-collapse-body-{{ values.user }}">
                            <span class="flex-grow dark:text-gray-100">{{ values.user }}</span>
                            {% if values.count %}
                            <div class="rounded-3xl bg-green-600 text-white flex-none p-1 px-3 text-lg text-end">{{ values.count }}</div>
                            {% endif %}
                            <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </button>
                        {% endif %}
                    </h2>
                    <div id="accordion-collapse-body-{{ values.user }}" class="hidden mx-2.5" aria-labelledby="accordion-collapse-heading-{{ values.user }}" >
                        <div class="pt-2 px-2 font-light border border-b-0 border-gray-200 dark:border-gray-300 dark:bg-gray-900 rounded-b-lg">
                            <div class="max-w-3xl overflow-x-auto relative shadow-md sm:rounded-lg overflow-atuo max-h-96 min-h-96 flex flex-col-reverse">
                                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 max-w-3xl border-none">
                                    <tbody>
                                        {% for i in chat %}
                                            {% if i.person_ID == user %}
                                                {% if i.message != "" %}
                                                    <tr class="bg-white dark:bg-gray-900 ">
                                                        <td class="py-4 px-6">
                                                        </td>
                                                        <td class="flex items-end justify-end text-end">
                                                            <div class="rounded-2xl bg-indigo-600 text-white inline p-2 m-2 text-lg rounded-br-none">
                                                                {{i.message}}
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endif %}
                
                                            {% if i.person_ID != user %}
                                                {% if i.message != "" %}
                                                    <tr class="bg-white dark:bg-gray-900">
                                                        <td class="flex items-end justify-start text-start">
                                                            <div class="rounded-2xl bg-gray-300 text-gray-900 inline p-2 m-2 text-lg rounded-bl-none">
                                                                {{i.message}}
                                                            </div>
                                                        </td>
                                                        <td class="py-4 px-6">
                                                        </td>
                                                    </tr>
                                                {% endif %}  
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="mb-6">
                                <form method="POST" action="{% url 'chat' values.user.id %}" class="border-t border-gray-400 py-2 flex items-center justify-around flex-nowrap">
                                {% csrf_token %}
                                <input name="message" class="grow h-8 rounded-lg px-2 bg-gray-100 border border-gray-200 shadow-md"></input>
                                <button type="submit"
                                class="flex-none inline-block px-2 py-2 ml-2 bg-indigo-500 text-white rounded-3xl shadow-md hover:shadow-lg"
                                >
                                <img src="{{ MEDIA_URL }}media/send-24.png" alt="">
                                </button>
                                
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
</div>
    <script>
        setTimeout(autoCloseMessage, 3700);
        function closeMessage(){
            const message = document.querySelector("#message")
        
            message.classList.remove('opacity-100');
            message.classList.add('opacity-0');
            setTimeout(() => { message.classList.add('hidden') }, 500);
    }
        function autoCloseMessage(){
            if(document.querySelector("#message")){
                setTimeout(closeMessage(), 10000);
            }
        }
    </script>
{% endblock %}