{% extends  'base.html' %}
{% block title %}Nachhilfeverwaltung | Übersicht{% endblock %}
{% block content %}
<main class="mb-auto">
    <h1 class="text-3xl text-center my-4 dark:text-gray-50">Willkommen {{ request.user.first_name |lower|capfirst }} !</h1>
    <div class="w-full flex">
    {% if taken_nachhilfe_list %}
    <table class="text-sm text-left text-gray-500 dark:text-gray-100 max-w-7xl w-1/2 mx-3 rounded-xl shadow-md">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-200 rounded-t-xl">
            <tr>
                <th scope="col" class="py-3 px-6 rounded-tl-xl">
                    <div class="grid grid-cols-1">
                        <h1 class="text-md font-semibold text-indigo-600 dark:text-indigo-200 italic mb-1">Bevorstehende Nachhilfen:</h1>
                        <p>Fach</p>
                    </div> 
                </th>
                <th scope="col" class="py-3 px-6 rounded-tr-xl">
                    <div class="mt-4">
                        <p class="">Datum</p> 
                    </div>
                </th>
            </tr>
            </thead>
            <tbody class="rounded-b-xl">
                
                {% for i in taken_nachhilfe_list %}
                    <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                        <td class="py-4 px-6">
                            {{i.nachhilfe_ID.fach_ID.fachbezeichnung}}
                        </td>
                        <td class="py-4 px-6">
                        {{i.datum_uhrzeit}}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>

    {% else %}
        <h1 class="text-xl font-semibold text-indigo-600 dark:text-indigo-200 mx-3 w-1/2">Keine Bevorstehende Nachhilfen ... </h1>
    {% endif %}
    <div class="w-1/2 flex mx-3 max-h-48 h-48">
        <div class="w-full border border-gray-100 mx-6 rounded-xl shadow-md dark:border-gray-500 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">
            <!--Hier komm der Inhalt der Linken Box-->
            <div class="m-3">
                <p class="text-gray-50 absolute text-xl">Nachhilfe genommen</p>
            </div>
            <div class="text-gray-50 flex justify-center items-center w-full h-full bold text-6xl pb-2 font-mono">
                {% if lessons_taken %}
                    {{lessons_taken}}
                {% else %}
                0
                {% endif %}
            </div>
        </div>
        <div class="w-full border border-gray-100 mx-6 rounded-xl shadow-md dark:border-gray-500 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">
            <!--Hier komm der Inhalt der Rechten Box-->
            <div class="m-3">
                <p class="text-gray-50 absolute text-xl">Nachhilfe gegeben</p>
            </div>
            <div class="text-gray-50 flex justify-center items-center w-full h-full pb-3 bold text-6xl pb-2 font-mono">
                {% if lessons_given %}
                    {{lessons_given}}
                {% else %}
                0
                {% endif %}
            </div>
    </div>
</div>  
</main>
{% endblock %}