{% extends  'base.html' %}
{% block title %}Nachhilfeverwaltung | Einstellungen{% endblock %}
    {% block content %}
<div class="mb-auto">

    
    <p class="text-3xl text-center my-4 dark:text-gray-100">Willkommen {{ request.user.first_name |lower|capfirst }} {{ request.user.last_name |lower|capfirst }} !</p>
    <p class="text-xl text-center my-4 dark:text-gray-100">Hier kannst du sehen und festlegen, wie auf der Nachhilfeverwaltung dein Profil angezeigt wird</p>
    <p class="text-xl text-center my-4 dark:text-gray-50 italic">Angemeldet als: {{ request.user.email |lower }}</p>
    <main class="flex justify-center">
        <div class="max-w-7xl" id="wrapper">
            <div class="mb-6">
                {% if messages %}
                <div class="bg-green-200 text-green-600 flex justify-between p-2 rounded-xl transition-all" id="message">
                    {% for message in messages %}
                        {{ message }}
                        <button onClick="closeMessage()" id="toggleMessage" class="transition-all duration-500 ease-in-out">✕</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <form class="grid grid-cols-2 gap-y-2 border border-gray-400 rounded-xl p-6 dark:text-gray-100" method="POST">    
                {% csrf_token %}
                {% for field in form  %}
                    {{ field.label }}
                        {{ field }}
                {% endfor %}
                
                <div class="h-full w-full flex items-center">
                    <button type="submit"
                        class="w-24 h-12 px-2 py-2 bg-indigo-500 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:rounded-xl hover:shadow-lg focus:bg-indigo-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition-all duration-500 ease-in-out"
                        >
                        Speichern
                    </button>
                </div>
                <ul>
                    <li class="dark:text-gray-300 italic">Passwort darf nicht mit anderen Daten von Ihnen übereinstimmen</li>
                    <li class="dark:text-gray-300 italic">Dein Passwort muss mindestens 8 Zeichen enthalten</li>
                    <li class="dark:text-gray-300 italic">Dein Passwort muss eine schwere Komplexität haben</li>
                    <li class="dark:text-gray-300 italic">Dein Passwort kann nicht nur aus Zahlen bestehen</li>
                </ul>
            </form>
        </div>
    </main>
</div>
    <script>
        setTimeout(autoCloseMessage, 3700);
        function closeMessage(){
            const message = document.querySelector("#message")
        
            message.classList.remove('opacity-100');
            message.classList.add('opacity-0');
            setTimeout(() => { message.classList.add('hidden') }, 500);
    }
        function autoCloseMessage(){
            if(document.querySelector("#message")){
                setTimeout(closeMessage(), 10000);
            }
        }
    </script>
{% endblock %}